modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "start"

[[workflows.workflow]]
name = "start"
mode = "sequential"
author = 41882039

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"
